# ComfyUI Configuration
COMFY_IP=127.0.0.1
COMFY_PORT=8188

# Brando App Configuration
BRANDO_PORT=7860
BRANDO_HOST=0.0.0.0 

# ComfyUI Configuration
IMAGE_STREAM_IP=127.0.0.1
IMAGE_STREAM_PORT=8189
IMAGE_STREAM_API_KEY=...